.inputTask {
  z-index: 2;
  width: 100%;
  margin-top: 23px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inputTask h1 {
  margin-top: 10px;
  color: #fff;
  font-weight: normal;
  animation: animate 0.5s ease-in;
}

.inputTask input {
  width: 35%;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 2rem;
  outline: 0;
  border: 0;
  background: transparent;
  text-align: center;
  border-bottom: 1px solid #fff;
  color: #fff;
  animation: animate 0.5s ease-in;
}

.inputTaskCheckbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 12%;
  cursor: pointer;
  animation: animate 0.5s ease-in;
}

.inputTaskCheckbox h1 {
  color: #fff;
  font-weight: normal;
  margin: 0 8px;
  margin-top: 10px;
}

.checkboxBox {
  width: auto;
  height: auto;
  min-width: 15px;
  min-height: 15px;
  border: 2.5px solid #fff;
  border-radius: 2px;
  margin-top: 11px;
}

.checkboxBoxTicked {
  position: relative;
}

.checkIcon {
  position: absolute;
  top: -5px;
  left: -3px;
}

.checkboxBoxTicked ~ h1 {
  text-decoration: line-through;
  opacity: 0.85;
}

.addIconButton {
  transform: rotate(0);
  transition: all 0.2s ease-in;
}

.addIconButtonRotated {
  transform: rotate(45deg);
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
