.quote {
  width: 100%;
  height: 8vh;
  position: fixed;
  bottom: 0;
}

.quote__main {
  width: 55%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 10px;
}

.quote__main h3 {
  font-weight: normal;
  font-size: 1rem;
  color: #fff;
  transform: translateY(20px);
  transition: all 0.3s ease-in;
}

.quote__main h4 {
  font-size: 0.9rem;
  color: #e4e4e4;
  font-weight: normal;
  transform: translateY(-13px);
  opacity: 0;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote__main:hover h3 {
  transform: translateY(0);
}

.quote__main:hover h4 {
  transform: translateY(0);
  opacity: 1;
}
