.temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.temp__down p {
  font-size: 0.8rem;
  text-align: left;
}

.temp__svg img {
  filter: invert();
  width: 30px;
  margin-right: 12px;
  margin-top: 3px;
}

.temp__up {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 470px) {
  .temp__down p {
    font-size: 0.6rem;
    text-align: right;
  }
  .mainTemp {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .temp__svg img {
    display: none;
  }
}
