@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.app {
  width: 100%;
  height: 100vh;
  background: url("https://source.unsplash.com/1200x800/daily?nature,forest,mountains,sky,sea,lakes,snow,peace,stars,rain,sunshine,wind,hills,moon");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.app__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .app {
    background: url("https://source.unsplash.com/600x800/daily?nature,forest,mountains,sky,sea,lakes,snow,peace,stars,rain,sunshine,wind,hills,moon");
  }
}
